.giovanni-bojanini
    background: url( '../img/background-couple-mobile.jpg' ) no-repeat scroll center top transparent
    background-size: 100% auto
    height: auto
    width: 100%
    &.men
        background-image: url( '../img/background-men-mobile.jpg' )
    &.women
        background-image: url( '../img/background-women-mobile.jpg' )
.title .central, .content .central, .contact .central
    left: unset
    position: static
    width: 100%
header
    background-color: $footer-background
    .central
        height: auto
        h2
            display: block
            flex-flow: unset
            float: none
            height: auto
            margin: 0.5em auto
            width: 100%
            &:first-child
                margin-left: auto
                width: auto
            &:last-child
                margin-left: auto
                width: auto
            a
                align-self: unset
                display: block
                height: auto
                position: relative
                width: 100%
                img
                    display: block
                    margin: 0 auto
                    position: static
                img[width="70"]
                    top: unset
                img[width="282"]
                    top: unset
.title
    h1
        display: block
        margin: 10px auto 260px
        img
            display: block
            margin: 0 auto
            width: 90%
.content
    background-color: $content-background
    box-sizing: border-box
    padding: 0
    width: 100%
    .central
        box-sizing: border-box
        padding: 7.8125vw 9.375vw
        position: static
        p
            @include font-mask( normal, 4.6875vw, 1.2em, $open-sans-condensed-light, $white-color )
            margin: 0
            width: 100%
        .features
            display: flex
            flex-flow: column nowrap
            .left, .right
                width: 100%
            .left
                padding-right: 0
                h3
                    @include font-mask( normal, 6.875vw, 1em, $open-sans-condensed-light, $title-color )
                    margin: 7.1875vw auto 3.125vw
                    text-transform: uppercase
                ul
                    margin: 0
                    padding: 0 0 0 7.8125vw
                    li
                        box-sizing: border-box
                        color: $white-color
                        margin: 0
                        padding: 0
                        p
                            @include font-mask( normal, 4.6875vw, 1em, $open-sans-condensed-light, $white-color )
                            line-height: 1.2em
            .right
                border-left: 0 none transparent
                display: flex
                flex-flow: row nowrap
                padding: 7.8125vw 0 0
                h4
                    align-self: center
                    display: block
                    margin: 0 auto
                    img
.contact
    form
        display: flex
        flex-flow: column nowrap
        float: left
        margin: 7.8125vw 0
        width: 100%
        fieldset
            align-self: flex-start
            box-sizing: border-box
            margin: 0 auto
            padding: 0 12.5vw
            &:nth-child( 1 ), &:nth-child( 2 )
                padding: 0 8.75vw
                width: 100%
            .input
                float: left
                width: 100%
                &:nth-child( 2 ), &:nth-child( 3 )
                    width: 50%
                label
                    clear: both
                    display: block
                    float: none
                    margin: 0 0 17px 0
                    width: 100%
                    &[for="first_name"], &[for="last_name"]
                        float: left
                        width: 100%
                    &[for="first_name"]
                        margin-right: 1.5625vw
                        width: 95%
                    &[for="message"]
                        height: 50.625vw
                    input[type="text"], input[type="email"], textarea
                        @include font-mask( normal, em( 15, 16 ), 1em, $open-sans-condensed-light, $white-color )
                        background-color: $input-background
                        border: 0 none transparent
                        box-sizing: border-box
                        margin: 0 auto
                        padding: 5px
                        text-align: left
                        width: 100%
                        &.error, &.ng-invalid
                            border: 1px solid $title-color
                        &.correct, &.ng-valid
                            border: 0 none transparent
                    input[type="text"], input[type="email"]
                    textarea
            &:nth-child( 2 )
                .input
                    width: 100%
    p.response
        @include font-mask( normal, em( 13, 16 ), 1em, $open-sans-condensed-light, $title-color )
        background-color: $content-background
        align-self: middle
        display: block
        margin: 0 auto
        padding: 10px
        text-align: center
        width: 70%
        &:empty
            display: none
.quiero-mi-pelo
    border: 0 none transparent
    color: transparent
    display: block
    float: none
    margin: 0 auto
    padding: 0
input[placeholder], textarea[placeholder]
    color: $white-color
    &::-moz-placeholder,&:-moz-placeholder,&::placeholder,&:placeholder
        color: $white-color
footer
    background-color: $footer-background
    .central
        p
            clear: both
            display: block
            float: none
            margin: 7.5vw auto
            width: 100%
            img
                display: block
                margin: 0.5em auto
        ul
            box-sizing: border-box
            display: flex
            flex-align: column nowrap
            float: none
            margin: 4.6875vw auto
            padding: 0
            width: 99.375vw
            li
                align-self: stretch
                box-sizing: border-box
                float: left
                list-style: none inside
                margin: 0 2.8125vw
                padding: 0
                a
                    color: transparent
